/*CSS Stylesheet*/

* {
    box-sizing: border-box;
} 

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}


:root {
    --main-bg-color: #90BE6D;
}

body{
 background-color: var(--main-bg-color);
 height: 97vh;
 width: 100vw;
 display: grid;
 grid-template-columns: 1fr 3fr 1fr;
 grid-template-rows: 1fr 1.75fr 1.75fr;
 grid-template-areas: 
    "dashboard header header"
    "dashboard projects announcements"
    "dashboard projects trending"
 ;
}

nav {
    grid-area: dashboard;
    border: 2px solid black;
}

header {
    grid-area: header;
    border: 2px solid black;
}

main {
    grid-area: projects;
    border: 2px solid black;
}

.announcements {
    grid-area: announcements;
    border: 2px solid black;
}

.trending {
    grid-area: trending;
    border: 2px sold black;
}
